.twocols {
  width: 100%;
  height: fit-content;
}

.victorychart {
  width: 95%;
  height: auto;
}

.leftcol {
  width: 50%;
  height: fit-content;
  float: left;
}

.rightcol {
  width: 50%;
  height: fit-content;
  float: right;
}
